.search-bar-container {
    display: flex;
    height: 18px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.search-bar {
    margin-top: 51px;
    text-align: center;
    outline: none;
    padding: 7px 35px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 400;
}

.search-bar:focus {
    outline: none;
    text-align: left;
}