.comment-input-container {
    padding: 0 20px;
    justify-self: flex-end;
}

input {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(38, 38, 38);
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    resize: none;
    outline: none;
    border: none;
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 20px;
}