* {
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  border: 2px dashed black;
  width: 100%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-container {
  border: 2px dashed purple;
  width: 400px;
  margin: 0 auto;
}