.posts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .post-container {
    border: 2px dashed purple;
    width: 600px;
    margin: 10px auto;
    height: 925px;
  }