.posts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAFAFA;
    padding-top: 111px;
}
  
.post-container {
border: 1px solid rgb(230, 230, 230);
border-radius: 3px;
max-width: 600px;
margin: 10px auto;
display: flex;
flex-direction: column;
}